
.menu {
  display: flex;
  align-items: center;

  &__item {
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
    margin-left: 38px;

    &:first-child {
      margin-left: 0;
    }

    &:hover > .sub-menu {
      display: block;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 18px 0;
  }
}

//----------
.dropdown {
  position: relative;

  & > .menu__link {
    padding-left: 18px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url("../assets/img/dropdown.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 12px;
      height: 8px;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}

.sub-menu {
  position: absolute;
  display: none;
  min-width: 100px;
  width: max-content;
  text-transform: none;
  background: $white;
  border-radius: 9px;
  top: 100%;
  box-shadow: 0 0 53px rgba(0, 0, 0, .1);
  left: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;

  &__item {
    position: relative;
    padding: 14px 18px;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    transition: background-color .5s;

    &:after {
      position: absolute;
      content: '';
      display: block;
      height: .8px;
      background-color: $light-gray;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:last-child:after {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: #54C42D;
      color: #ffffff;
    }
  }

  &__link {
    display: block;
    transition: color .35s;

    &:hover,
    &:focus {

    }
  }
}

@include respond-to($xl) {
  .menu {
    &__item {
      font-size: 12px;
      margin-left: 25px;
    }
  }
}

@include respond-to($lg) {
  .menu {
    flex-direction: column;
    align-items: center;
    padding-bottom: 66px;

    &__item {
      margin-bottom: 27px;
      margin-left: 0;
      font-size: 25px;
      text-transform: none;
      text-align: center;
      font-weight: 400;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(1),
      &:nth-child(2) {
        font-weight: 600;
      }
    }

    &__link {
      padding: 0;
    }
  }
  .sub-menu {
    position: static;
    display: flex !important;
    box-shadow: none;

    &__item {
      font-weight: 400;
      font-size: 22px;
      color: $gray;
      padding: 10px 33px 10px;
      border-bottom: 0;

      &:after {
        width: .8px;
        height: 20px;
        left: auto;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
      }

      &:last-child:after {
        display: none;
      }

      &:first-child {
        padding-left: 0;
        border-left: 0;
      }

      &:hover,
      &:focus {
        background-color: #ffffff;
        color: #54C42D;
      }
    }
  }
  .dropdown > .menu__link {
    padding-left: 0;

    &:before {
      display: none;
    }
  }
  .splash-panel {
    &.active .sub-menu {
      opacity: 1;
      pointer-events: all;
    }

    .sub-menu {
      position: fixed;
      bottom: 0;
      left: 0;
      top: 0;
      background: #fff;
      z-index: 222;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 50px 20px;
      max-height: 100%;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity .5s;

      a {
        font-size: 24px;
        font-weight: 400;
      }
    }

    .sub-menu__item {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;
      color: #000000;

      &:after {
        display: none;
      }

      &:hover,
      &:focus {
        background-color: #ffffff;
        color: #54C42D;
      }
    }
  }

}

@include respond-to($xs) {
  .menu {
    align-items: flex-start;

    &__item {
      text-align: left;
    }
  }

}