//colors
$white: #ffffff;
$light-gray:#d6d6d6;
$gray: #a0a0a0;


$main-font: 'Raleway', sans-serif;
$secondary-font: 'Bebas Neue', cursive;

// Screen Variables

$xxs: '(max-width: 420px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1180px)';
$xl:'(max-width: 1440px)';


