.page-disease {
  position: relative;
  padding-top: 118px;

  &:before,
  &:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background: linear-gradient(15deg, #61DB36 0%, #FFFFFF 100%);
    filter: blur(40px);
    opacity: 0.86;
  }

  &:before {
    width: 254px;
    height: 254px;
    right: -8%;
    top: 30%;
    z-index: -1;
  }

  &:after {
    width: 703px;
    height: 680px;
    left: -30%;
    top: 17%;
    z-index: -1;
  }

  .top-content {
    align-items: center;
  }

  .part {
    width: 50%;

    &_left {
      padding-right: 60px;
    }

    &_right {
      position: relative;
      min-height: 650px;
    }
  }

  .diseases {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    opacity: .85;

    &:before {
      display: none;
    }

    &__thumb {

      max-width: 650px;
      width: 100%;
      height: 650px;
      border-radius: 50%;
      opacity: 1;


      &:before {
        position: absolute;
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../assets/img/diseases/round-bg.png);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
      }

    }

    &__img {
      position: absolute;
      width: 62%;
      max-width: 437px;
      left: 13%;
      top: 16%;
      z-index: 1;
      transition: all .5s;

      &_1 {
        max-width: 280px;
        width: 50%;
        top: 15%;
        left: 33%;
      }

      &_2 {
        max-width: 159px;
        width: 28%;
        left: 14%;
        top: 36%;
      }

      &_3 {
        max-width: 98px;
        width: 17%;
        top: 64%;
        left: 37%;
      }
    }
  }
}

.disease-article {
  padding-bottom: 65px;

  .content-block {
    margin-bottom: 55px;
  }

  .lists-block {
    display: flex;
    justify-content: space-between;

    ul {
      max-width: 527px;
      width: 45%;
      background: #f5fff3;
      border: 1px solid #46ba00;
      border-radius: 21px;
      padding: 20px;
      line-height: 1.8;
      margin-bottom: 30px;

      > li {
        position: relative;
        padding-left: 22px;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: currentColor;
          left: 0;
          top: 8px;
        }
      }
    }
  }

  h1, h2 {
    font-weight: 500;
    font-size: 79px;
    line-height: 1.13;
    margin-bottom: 18px;
    color: #51ad1a;
  }

  h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.19;
    color: #1f1f1f;
    margin-bottom: 9px;
  }

  h4, h5 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.16;
    color: #9a9a9a;
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include respond-to($md) {
  .page-disease {
    .part_left {
      order: 1;
      padding-right: 0;
      margin-top: -40px;
    }

    .part_right {
      margin-left: auto;
      min-height: 0;
      height: auto;

    }

    .diseases {
      position: static;
      padding: 0;
      width: 100%;

      &__thumb {
        max-width: 480px;
        height: 480px;
        margin-left: auto;
        transform: translateX(50px);
      }
    }
  }
  .disease-article {
    .top-content {
      flex-wrap: wrap;

      .part {
        width: 100%;
      }
    }
  }
}

@include respond-to($sm) {
  .page-disease {
    .part_left {
      margin-top: 0;
    }
  }
  .disease-article {
    h1, h2 {
      font-size: 55px;
    }

    h3 {
      font-size: 35px;
    }

    .content-block {
      margin-bottom: 50px;
    }

    .lists-block {
      flex-wrap: wrap;

      ul {
        max-width: 100%;
        width: 100%;
        background: rgba(188, 188, 188, 0.1);
      }
    }
  }
}

@include respond-to($xs) {
  .page-disease {
    padding-top: 70px;
    &:before,
    &:after {
      display: none;
    }

    .part_left {
      margin-bottom: 40px;
    }

    .diseases {

      &__thumb {
        max-width: 250px;
        height: 250px;
        transform: translateX(15px);
      }
    }
  }
  .disease-article {
    h2 {
      font-size: 42px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      margin-bottom: 30px;
    }

    .content-block {
      margin-bottom: 50px;
    }

    .lists-block {
      flex-wrap: wrap;

      ul {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@include respond-to($xs){
  .page-disease{
    .diseases__thumb {
      max-width: 235px;
      height: 235px;
      transform: translateX(28px);
    }
  }
}

